* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-light {
    background-color: #f3c031 !important;
}

.bg-light {
    background-color: #f3c031 !important;
}

.bg-image {
    background-image: url(../img/4th\ couture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#misionSection {
    background-color: white !important;
}

#categorySection .col-lg-6 {
    position: relative;
}

#categorySection a {
    position: absolute;
    top: 550px;
    left: 200px;
}

#categorySection a:hover {
    color: #f3c031;
    background-color: black;
}
